.con-bg{
    background-color: maroon;
   }
   .keyboard{
    background-color:red;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken; 
    } 
    .header{
        font-size: 50px;
    }
    